@use "variables";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: variables.$primary-font;
  color: variables.$primary-color;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  width: 100%;
}
